.gallery {
  width: 100%;
  min-height: 300px;
}
.gallery.shiftingtiles { 
  background: black;
  margin: -1px;
  border: 1px solid black; 
  height: 300px;
  box-shadow: 0 0 20px black;
}
.gallery.shiftingtiles img {
  display: none;
}

.clear { clear: both; }
.frame { overflow: hidden; }
.frame div { float: left; }
.frame .preview { width: 100px; height: 100px; background: green; }
.frame .rest { width: 100px; height: 100px; background: red; }
.frame .dual, .frame .rest.dual { width: 50px; height: 100px; }
.frame .rest + .rest { background: blue; }
.frame .dual.disappear.preview div {
  width: 100%;
  height: 50%;
}
.frame .dual.disappear.preview div + div { background-color: lightgreen; }

.frame .single.disappear.preview, .frame .dual.disappear.preview {
  animation-iteration-count: infinite;
  transform-origin:0 100%;
  animation-play-state: running;
  animation-delay: 2s;
}
.frame .dual.disappear.preview {
  transform-origin:0 50%;
}
.frame .dual.disappear + *, .frame .single.disappear + *,
.frame .dual.disappear + * + *, .frame .single.disappear + * + * {
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-delay: 2s;
}