/* Functions */
.animation (@name, @duration: 300ms, @delay: 0, @ease: ease) {
	-webkit-animation: @name @duration @delay @ease;
	-moz-animation:    @name @duration @delay @ease;
	-ms-animation:     @name @duration @delay @ease;
}
.animation-fill-mode (@mode) {
	-webkit-animation-fill-mode: @mode;
	-moz-animation-fill-mode:    @mode;
	-ms-animation-fill-mode:     @mode;
	-o-animation-fill-mode:      @mode;
	animation-fill-mode:         @mode;
}

.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
}
.transform(@string){
	-webkit-transform: @string;
	-moz-transform:    @string;
	-ms-transform: 	   @string;
	-o-transform: 	   @string;
}
.transform-origin(@string){
	-webkit-transform-origin: @string;
	-moz-transform-origin:    @string;
	-ms-transform-origin: 	  @string;
	-o-transform-origin: 	  @string;
}

/* Implementation */
body {
	margin: 0;
	padding: 0;
	background: black;
}

@disappear-duration: 1s;

.shiftingtiles {
	height: 900px;
	width: 1440px;
	overflow: hidden;

	.image {
		background-size: cover;
		background-image: /* to be filled in */;
	}

	& > .loading {
		display: none;
		position: absolute;
		line-height: 1080px;
		text-align: center;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 100;
		background: black;
		color: white;
	}

	& > .row {
		position: relative;
		width: 200%;
		height: 50%;
		margin: 0 0;

		.single, .dual {
			background: white;
			float: left;
			height: 100%;
			box-sizing: border-box;
			border: 5px solid black;
		}
		.single { 
			width: 20%; 
			.image();
			transform-origin(0 100%);
		}
		.dual { 
			width: 10%;
			transform-origin(0 50%);
			> div {
				width: 100%;
				height: 50%;
				box-sizing: border-box;
				border: solid black;
				border-width: 10px 0 0 0;
				.image();
			}
			> div:first-child {
				border-top: 0;
			}
		}

		&:not(:first-child) {
			margin-left: -100%;
			
			.single, .dual {
				float: right;
			}
			.single { transform-origin(100% 0); }
			.dual { transform-origin(100% 50%); }
		}
	}
}

.single.disappear {
	animation(disappear-single, @disappear-duration);
	transform-origin(100% 0);
	animation-fill-mode(forwards);
}
.dual.disappear {
	animation(disappear-dual, @disappear-duration);
	transform-origin(0 50%);
	animation-fill-mode(forwards);
}
.dual.disappear + *, .single.disappear + * {
	animation(bounce, (@disappear-duration/2), (@disappear-duration/2s));
}
.dual.disappear + * + *, .single.disappear + * + * {
	animation(bounce, (@disappear-duration/2), (@disappear-duration/2s) + .05s);
}
.dual.disappear + * + * + *, .single.disappear + * + * + * {
	animation(bounce, (@disappear-duration/2), (@disappear-duration/2s) + .1s);
}


.shiftingtiles.leave .row {
	animation(leave-r, 1s);
	animation-fill-mode(forwards);
	
	&:first-child {
		animation(leave-l, 1.5s);
	}
}
.shiftingtiles.left .row {
	> * {
		display: none;
	}
}

.disappear-frames(@origwidth) {
	0%   { transform(scale(1)); }
	20%  { transform(scale(.01)); width: @origwidth; }
	50%  { transform(scale(0)); width: 0%; }
	100% { transform(scale(0)); width: 0%; border-width: 0; }
}
.bounce {
	0%  { margin: 0; }
	20% { margin: 0 15px; }
	40% { margin: 0; }
	70% { margin: 0 10px; }
	90% { margin: 0; }
	94% { margin: 0 5px; }
	100% { margin: 0; }
}
.leave(@dir) {
	0% {   transform(translate3d(0, 0, 0)); }
	99% {  transform(translate3d((@dir * 1920px), 0, 0)); display: block; }
	100% { transform(translate3d((@dir * 1920px), 0, 0)); display: none; }
}

@-webkit-keyframes disappear-single {.disappear-frames(20%); }
@-moz-keyframes disappear-single {.disappear-frames(20%); }
@-ms-keyframes disappear-single {.disappear-frames(20%); }
@-o-keyframes disappear-single {.disappear-frames(20%); }
@keyframes disappear-single {.disappear-frames(20%); }

@-webkit-keyframes disappear-dual {.disappear-frames(10%);}
@-moz-keyframes disappear-dual {.disappear-frames(10%);}
@-ms-keyframes disappear-dual {.disappear-frames(10%);}
@-o-keyframes disappear-dual {.disappear-frames(10%);}
@keyframes disappear-dual {.disappear-frames(10%);}

@-webkit-keyframes bounce {.bounce;}
@-moz-keyframes bounce {.bounce;}
@-ms-keyframes bounce {.bounce;}
@-o-keyframes bounce {.bounce;}
@keyframes bounce {.bounce;}

@-webkit-keyframes leave-l {.leave(1);}
@-moz-keyframes leave-l {.leave(1);}
@-ms-keyframes leave-l {.leave(1);}
@-o-keyframes leave-l {.leave(1);}
@keyframes leave-l {.leave(1);}
@-webkit-keyframes leave-r {.leave(-1);}
@-moz-keyframes leave-r {.leave(-1);}
@-ms-keyframes leave-r {.leave(-1);}
@-o-keyframes leave-r {.leave(-1);}
@keyframes leave-r {.leave(-1);}
